<h3>My Lists</h3>
<div>
    <form class="navbar-form navbar-left" role="form">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Add new movie list..." ng-model="listname">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"
                        ng-click="addMovieList()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>List Title</th>
            <th>Creation Date</th>
            <th>Publicly Available</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="list in lists">
            <td><a href="lists/{{list.id}}">{{list.name}}</a></td>
            <td>{{list.creationDate.split("T")[0]}}</td>
            <td>
                <form>
                    <input type="checkbox" name="visible">
                </form>
            </td>
        </tr>
    </tbody>
</table>