<h3>My Lists</h3>

<form>
    <div class="form-group">
       <input type="text" class="form-control" placeholder="New movie list title..." ng-model="name">
           <div>
               <button class="btn btn-primary" type="submit" 
                       ng-click="addMovieList()">
                   Add
               </button>
           </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>List Title</th>
            <th></th>
            <th>Creation Date</th>
        </tr>
    </thead>
</table>