<h1>Public Lists</h1>
<table class="table table-striped" style="margin-top:20px">
    <thead>
        <tr>
            <th>List name</th>
            <th>Movies</th>
            <th>User</th>
            <th>Creation date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="list in lists">
            <td><a href="lists/{{list.id}}">{{list.name}}</a></td>
            <td>
                <i class="glyphicon glyphicon-film"></i>
                &nbsp;{{list.movies}}
            </td>
            <td>{{list.owner}}</td>
            <td>{{list.creationDate.split("T")[0]}}</td>
        </tr>
    </tbody>
</table>