<h3>Public Lists</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>List Title</th>
            <th>Number of movies</th>
            <th>Owner</th>
            <th>Creation Date</th> 
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="list in lists">
            <td><a href="lists/{{list.id}}">{{list.name}}</a></td>
            <td>{{list.movies}}</td>
            <td>{{list.owner}}</td>
            <td>{{list.creationDate.split("T")[0]}}</td>
        </tr>
    </tbody>
</table>

