
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-form {
    margin-right: 0px;
    margin-left: 0px;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.movie-detail img {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;


}

.movie-detail h1{
    margin-bottom: 20px
}

.movie-detail .info{
    float: left;
}

