<div>
    <!--Body content-->
    <h2>Favorite Movie Detail</h2>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>
                <input type="text" value="{{movie.id}}" readonly/>
            </td>
        </tr>
        <tr>
            <td>Title</td>
            <td>
                <input ng-model="movie.title" type="text" value="{{movie.title}}"/>
            </td>
        </tr>
        <tr>
            <td>Release Year</td>
            <td>
                <input ng-model="movie.releaseYear" type="number" value="{{movie.releaseYear}}"/>
            </td>
        </tr>
    </table>


    <div class="btn-group">
        <input type="button" value="Cancel" class="btn btn-default" ng-controller="NavigationCtrl" ng-click="navigate('movies')"/>
        <input type="button" value="Delete" class="btn btn-default" ng-click="delete()"/>
        <input type="button" value="Update" class="btn btn-default" ng-click="update()"/>
    </div>
</div>

