
<!--Body content-->
<div> 
    
  
    
    <div>
        <!--Body content-->
        <h2>Movie List</h2>
        <div>
            
            <form action="#new">
                <input type="submit" value="Add a movie">
            </form>
        
        </div>
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-default" ng-disabled="currentPage === 0" 
                        ng-click="currentPage = currentPage - 1">
                    Previous
                </button>
                <button class="btn btn-default" 
                        ng-disabled="currentPage >= (count / pageSize - 1)"
                        ng-click="currentPage = (currentPage + 1)"> 
                    Next
                </button>
            </div>
        </div>
        <h5>Rows:
        <select ng-model="pageSize">
            <option value="4">4</option>
            <option value="8">8</option>
            <option value="12">12</option>
            <option value="16">16</option>
            <option value="20">20</option>
        </select>
        </h5>
       
    <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Year</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movie in movies">
                    <td>{{movie.title}}</td>
                    <td>{{movie.releaseYear}}</td>                   
                    <td><a href="#/movies/{{movie.id}}">Edit/Delete</a></td>
                </tr>
            </tbody>
    </table>
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-default" ng-disabled="currentPage === 0" 
                        ng-click="currentPage = (currentPage - 1)">
                    Previous
                </button>
                <button class="btn btn-default" 
                        ng-disabled="currentPage >= ((count / pageSize) - 1)"
                        ng-click="currentPage = (currentPage + 1)"> 
                    Next
                </button>
            </div>
        </div>
</div>
